<div class="container my-3">
  <div class="row">
    <div class="col">
      <h1>Makeup Services</h1>
      <div class="row">
        <div class="col-md-6 my-4">
          <app-list heading="Hair" [listItems]="hairServices"></app-list>
        </div>
        <div class="col-md-6 my-4">
          <app-list heading="Specialty Hair" [listItems]="specialtyHairServices"></app-list>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 my-4">
          <app-list heading="Color" [listItems]="colorServices"></app-list>
        </div>
        <div class="col-md-6 my-4">
          <app-list heading="Texture" [listItems]="textureServices"></app-list>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1>Hair Services</h1>
      <div class="row">
        <div class="col-md-6 my-4">
          <app-list heading="Hair" [listItems]="hairServices"></app-list>
        </div>
        <div class="col-md-6 my-4">
          <app-list heading="Specialty Hair" [listItems]="specialtyHairServices"></app-list>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 my-4">
          <app-list heading="Color" [listItems]="colorServices"></app-list>
        </div>
        <div class="col-md-6 my-4">
          <app-list heading="Texture" [listItems]="textureServices"></app-list>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1>Brow Services</h1>
      <div class="row">
        <div class="col-md-6 my-4">
          <app-list heading="Hair" [listItems]="hairServices"></app-list>
        </div>
        <div class="col-md-6 my-4">
          <app-list heading="Specialty Hair" [listItems]="specialtyHairServices"></app-list>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 my-4">
          <app-list heading="Color" [listItems]="colorServices"></app-list>
        </div>
        <div class="col-md-6 my-4">
          <app-list heading="Texture" [listItems]="textureServices"></app-list>
        </div>
      </div>
      <div class="row">
        <span class="cancel-terms text-center initialism px-5">
          <p class="mb-2">
            We appreciate 24 hour notice for canceling appointments.
          </p>
          <p>
            If appointment is canceled less than 24 hours in advance, then cancellation will be charged in full amount.
            Credit cards will be held on file and charged the amount per appointment.
          </p>
        </span>
      </div>
    </div>
  </div>
</div>
