<app-parallax pageTitle="Makeup Services" imageUrl="https://mdbootstrap.com/img/Photos/Others/img%20%2844%29.jpg"></app-parallax>

<div class="container my-5 font--Montserrat">
  <div class="row">
    <div class="col-md-6 my-4">
      <app-list heading="Hair" [listItems]="hairServices"></app-list>
    </div>
    <div class="col-md-6 my-4">
      <app-list heading="Specialty Hair" [listItems]="specialtyHairServices"></app-list>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 my-4">
      <app-list heading="Color" [listItems]="colorServices"></app-list>
    </div>
    <div class="col-md-6 my-4">
      <app-list heading="Texture" [listItems]="textureServices"></app-list>
    </div>
  </div>
  <div class="row">
    <ng-template [ngTemplateOutlet]="cancelTerms"></ng-template>
  </div>
</div>

<app-parallax pageTitle="Hair Services" imageUrl="https://mdbootstrap.com/img/Photos/Others/img%20%2844%29.jpg"></app-parallax>

<div class="container my-5 font--Montserrat">
  <div class="row">
    <div class="col-md-6 my-4">
      <app-list heading="Hair" [listItems]="hairServices"></app-list>
    </div>
    <div class="col-md-6 my-4">
      <app-list heading="Specialty Hair" [listItems]="specialtyHairServices"></app-list>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 my-4">
      <app-list heading="Color" [listItems]="colorServices"></app-list>
    </div>
    <div class="col-md-6 my-4">
      <app-list heading="Texture" [listItems]="textureServices"></app-list>
    </div>
  </div>
  <div class="row">
    <ng-template [ngTemplateOutlet]="cancelTerms"></ng-template>
  </div>
</div>

<ng-template #cancelTerms>
  <p class="text-center">
    WE APPRECIATE 24 HOUR NOTICE FOR CANCELING APPOINTMENTS. IF APPOINTMENT IS CANCELED LESS THAN 24 HOURS IN ADVANCE,
    WE WILL CHARGE 50% OF THE SCHEDULED SERVICE TOTAL. ALL SERVICES OVER $150 REQUIRE A CREDIT CARD NUMBER.
  </p>
</ng-template>
