<app-parallax pageTitle="Artists" imageUrl="https://mdbootstrap.com/img/Photos/Others/img%20%2844%29.jpg"></app-parallax>

<div class="container my-5 font--Montserrat">
  <div class="row mb-3">
    <div class="col-12">
      <h1>Muse is defined as the source of inspiration for a creative artist.</h1>
      <p>
        All of our artists have endured extensive training and are extremely passionate. But it is their source of inspiration that makes the ultimate salon and spa experience possible, each and every day.
      </p>
      <p class="font-weight-bold">
        Click below to get to know our artists and learn more about their Muse.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4>Stylists</h4>
      <div class="d-flex align-content-start flex-wrap text-center">
        <div>
          <a routerLink='artist-detail/bailey'>
            <img src="../../assets/images/artist-1.jpg" class="img-thumbnail artist-image">
          </a>
          <p>Bailey</p>
        </div>
        <div>
          <img src="../../assets/images/artist-2.jpg" class="img-thumbnail artist-image">
          <p>Bailey</p>
        </div>
        <div>
          <img src="../../assets/images/artist-3.jpg" class="img-thumbnail artist-image">
          <p>Bailey</p>
        </div>
        <div>
          <img src="../../assets/images/artist-4.jpg" class="img-thumbnail artist-image">
          <p>Bailey</p>
        </div>
        <div>
          <img src="../../assets/images/artist-5.jpg" class="img-thumbnail artist-image">
          <p>Bailey</p>
        </div>
        <div>
          <img src="../../assets/images/artist-6.jpg" class="img-thumbnail artist-image">
          <p>Bailey</p>
        </div>
        <div>
          <img src="../../assets/images/artist-7.jpg" class="img-thumbnail artist-image">
          <p>Bailey</p>
        </div>
        <div>
          <img src="../../assets/images/artist-8.jpg" class="img-thumbnail artist-image">
          <p>Bailey</p>
        </div>
      </div>
    </div>
  </div>
</div>
