<div class="container nav-padding">
  <hr class="mb-4">
  <div class="row text-center">
    <div class="col-xl-7 mb-5 mb-xl-0">
      <img [src]="artist.imageUrl" class="img-thumbnail">
    </div>
    <div class="col-xl-5">
      <div class="row mb-2">
        <div class="col">
          <h4>{{ artist.name }}</h4>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col">
          <p class="mb-0 text-uppercase">{{ artist.skills }}</p>
        </div>
      </div>
      <div class="row justify-content-center mb-5">
        <div class="col col-md-9 col-lg-7 col-xl-12">
          <app-social-links [socialLinks]="artist.socialLinks" [hasContainer]="true"></app-social-links>
        </div>
      </div>
      <div class="row mb-5" *ngIf="artist.quote">
        <div class="col">
          <p class="quote mb-0">“{{ artist.quote }}”</p>
        </div>
      </div>
      <div class="row" *ngIf="artist.carousel">
        <div class="col">
          <app-carousel [carousel]="artist.carousel"></app-carousel>
        </div>
      </div>
    </div>
  </div>
  <hr class="mt-4">
</div>
