<ul class="list-unstyled list-inline text-center">
  <li class="list-inline-item">
    <a class="fb-ic">
      <mdb-icon fab icon="facebook" size="2x" class="mr-2" [class]="additionalClasses"></mdb-icon>
    </a>
  </li>
  <li class="list-inline-item">
    <a class="tw-ic">
      <mdb-icon fab icon="twitter" size="2x" class="mr-2"></mdb-icon>
    </a>
  </li>
  <li class="list-inline-item">
    <a class="gplus-ic">
      <mdb-icon fab fab icon="google-plus" size="2x" class="mr-2"></mdb-icon>
    </a>
  </li>
  <li class="list-inline-item">
    <a class="li-ic">
      <mdb-icon fab icon="linkedin" size="2x" class="mr-2"></mdb-icon>
    </a>
  </li>
  <li class="list-inline-item">
    <a class="ins-ic">
      <mdb-icon fab icon="instagram" size="2x" class="mr-2"></mdb-icon>
    </a>
  </li>
  <li class="list-inline-item">
    <a class="pin-ic">
      <mdb-icon fab icon="pinterest" size="2x" class="mr-2"></mdb-icon>
  </a>
  </li>
</ul>
