<div *ngIf="socialLinks" class="d-flex justify-content-center flex-wrap" [ngClass]="hasContainer ? 'social-links-container' : ''">
  <a [href]="socialLinks.facebook.link" class="m-2" *ngIf="socialLinks.facebook">
    <mdb-icon fab icon="facebook" size="2x" [class]="additionalClasses"></mdb-icon>
    <br>
    <span class="social-links-description">{{ socialLinks.facebook.description }}</span>
  </a>
  <a [href]="socialLinks.twitter.link" class="m-2" *ngIf="socialLinks.twitter">
    <mdb-icon fab icon="twitter" size="2x" [class]="additionalClasses"></mdb-icon>
    <br>
    <span class="social-links-description">{{ socialLinks.twitter.description }}</span>
  </a>
  <a [href]="socialLinks.googlePlus.link" class="m-2" *ngIf="socialLinks.googlePlus">
    <mdb-icon fab icon="google-plus" size="2x" [class]="additionalClasses"></mdb-icon>
    <br>
    <span class="social-links-description">{{ socialLinks.googlePlus.description }}</span>
  </a>
  <a [href]="socialLinks.linkedIn.link" class="m-2" *ngIf="socialLinks.linkedIn">
    <mdb-icon fab icon="linkedin" size="2x" [class]="additionalClasses"></mdb-icon>
    <br>
    <span class="social-links-description">{{ socialLinks.linkedIn.description }}</span>
  </a>
  <a [href]="socialLinks.instagram.link" class="m-2" *ngIf="socialLinks.instagram">
    <mdb-icon fab icon="instagram" size="2x" [class]="additionalClasses"></mdb-icon>
    <br>
    <span class="social-links-description">{{ socialLinks.instagram.description }}</span>
  </a>
  <a [href]="socialLinks.pinterest.link" class="m-2" *ngIf="socialLinks.pinterest">
    <mdb-icon fab icon="pinterest" size="2x" [class]="additionalClasses"></mdb-icon>
    <br>
    <span class="social-links-description">{{ socialLinks.pinterest.description }}</span>
  </a>
</div>
