.social-links-container {
  background-color: #eee;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
}

.social-links-description {
  font-family: Helvetica Neue;
  font-style: italic;
  font-size: 13px;
  letter-spacing: -0.01em;
}

a {
  color: inherit;
}

.list-inline-item {
  margin-right: 1.5rem;
}
