@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400 !important;
  text-transform: uppercase;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400 !important;
  text-transform: uppercase;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: 0.188rem;
}

a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400 !important;
}

.quote {
  font-family: 'Times New Roman','Times','serif';
  font-size: 1.5em;
  font-style: italic;
}
