@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');
@import 'scrollbar';

html, body {
  height: 100%;
}

body {
  overflow: overlay;
}

.nav-padding {
  padding-top: 100px;
}

.container--Montserrat h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.container--Montserrat h4 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.container--Montserrat p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  /* font-size: 12px;
  letter-spacing: 3px; */
}

.container--Montserrat em {
  // font-size: 8px;
}

.container--Montserrat a {
  font-family: 'Montserrat', sans-serif;
}

.quote {
  font-family: 'Times New Roman','Times','serif';
  font-size: 1.5em;
  font-style: italic;
}
