@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

html, body {
  height: 100%;
}

p {
  font-family: 'Montserrat', sans-serif;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.quote {
  font-family: "Times New Roman","Times","serif";
  font-size: 1.5em;
  font-style: italic;
}
