<div class="footer">
  <sprk-stack itemSpacing="huge">
    <sprk-stack sprkStackItem itemSpacing="medium" additionalClasses="sprk-o-Stack--split@xxs">
      <sprk-icon sprkStackItem iconType="facebook" additionalClasses="sprk-c-Icon--xl"></sprk-icon>
      <sprk-icon sprkStackItem iconType="instagram" additionalClasses="sprk-c-Icon--xl"></sprk-icon>
    </sprk-stack>
    <sprk-stack sprkStackItem splitAt="medium" itemSpacing="huge">
      <table sprkStackItem>
        <h2>HOURS</h2>
        <tr *ngFor="let hour of hours">
          <td class="sprk-u-prl">{{hour.key}}</td>
          <td>{{hour.value}}</td>
        </tr>
      </table>
      <table sprkStackItem>
        <h2>LOCATION</h2>
        <tr>
          <td>31160 Orchard Lake Rd<br>Farmington Hills, MI 48334</td>
        </tr>
      </table>
    </sprk-stack>
  </sprk-stack>
</div>
